.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
    height: 30rem;
    padding: 1rem 2rem;
    border-radius: 0.375rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}
.actions {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: flex-end;
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}